.footer {
  background: #2c2c2c;
  color: #fff;
  padding: 30px 20px 20px 20px;
  font-family: 'Roboto', Arial, sans-serif;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 120px;
  
}

.footer-contacts p {
  max-width: 350px;
  margin: 6px 0;
  font-size: 14px;
}

.footer-socials {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
  
}

.footer-socials img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  border-radius: 9px;
}

.footer-socials img:hover {
  transform: scale(1.1);
}

.footer-note {
  font-size: 14px;
  margin-top: 10px;
  max-width: 400px;
}

.footer-bottom {
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255,255,255,0.2);
  font-size: 13px;
  margin-top: 15px;
}

/* Адаптив */
@media (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 15px;
  }
  
  .footer-socials {
    justify-content: center;
  }

  .footer-note {
    margin-top: 15px;
  }
}
