body {
  background: url('src/assets/herobanner.jpg') no-repeat center;
  background-size: cover;
}
.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  
  font-family: "Roboto",Arial sans-serif;
  
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45); /* уровень затемнения */
  z-index: -1;
}

.hero__container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 50px;
  align-items: center;
}

.hero__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding:0px;
}

.hero__title {
  font-size: clamp(36px, 4vw, 56px);
  font-weight: 500;
  line-height: 1.1;
  color: #f4f4f4;
}

.hero__subtitle {
  font-size: 22px;
  max-width: 520px;
  color: #c9c9c9;
  font-weight: 500;
}

.hero__actions {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

/* кнопки */
.btn {
  padding: 14px 28px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  width:210px;
  font-family: "Roboto",Arial sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
  
}

.btn--primary {
  background: rgba(255,255,255,0.2);
  color: #ffffff;
  border: none;
  letter-spacing: 0,2px;
}

.btn--primary:hover {
  rotate: 3deg;
  transition: 0.2s ease;
  width: 220px;

}



/* правая часть */
.hero__categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.hero__category-title {
    text-align: center;
    color: white;
    display: none;
}
.hero-banner-title-section{
    height:40px;
    letter-spacing: 0.2px;
    background-color: rgb(255, 255, 255,0.4);
    width : 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center
}
.hero_card{
    background: url(https://cdn11.bigcommerce.com/s-tz6xv0ocgq/images/stencil/1280x1280/products/63732/85316/IS039411__37566.1723486061.jpg?c=1) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 16px;
    height:200px;
    width:100%;
}
.hero_card p{
    font-weight: 500;
    height: 6px;
}
.hero__card {
  
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  
  width:100%;
  height:100%;
  text-align: center;
}
.hero__card img {
    width:150px;
}

#equipment{
    
    
    height:100%;
}
#tourism{
    background: url(https://m.media-amazon.com/images/I/61bIqbUNGEL.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.87;
}
#fishing{
    background: url(https://m.media-amazon.com/images/I/41K7d4s3GsL._AC_UF894,1000_QL80_.jpg) no-repeat center;
    background-size: cover;
    opacity: 0.87;
}
#optics{
    background: url(https://res.cloudinary.com/dxxf3ogdr/image/upload/v1/media/products/%D0%B8%D0%B7%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5_2026-01-11_201509671_qq14yk) no-repeat center;
    background-size: cover;
    opacity: 0.87;
}

.hero_card:hover {
    transition: transform 0.25s ease;

  transform: translateY(-6px);
}

/* адаптация для мобилки */
@media (max-width: 768px) {
  .hero {
    min-height: auto;
    padding: 60px 24px;
  }

  .hero__container {
    grid-template-columns: 2fr;
    text-align: center;
  }

  .hero__content {
    align-items: center;
    text-align: center;
  }

  .hero__actions {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero__categories {
    grid-template-columns: 1fr;
  }

  .hero__category-title {
    display: block;
    margin-top: 8px;
  }
}
.hero__categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки на десктопе */
  gap: 20px;
}

/* адаптация для мобилки */
@media (max-width: 768px) {
  .hero__categories {
    grid-template-columns: repeat(2, 1fr); /* тоже 2 колонки на мобилке */
    gap: 12px; /* можно чуть меньше отступ */
  }
}